.navbar {
	background-color: @brand-dark;
	.dropdown-toggle {
		color: #fff;
	}
}

.btn-page-header {
	margin-left: 10px;
}

.btn-table-header {
	display: block;
	
}

/* Utilities */

.p-t-l {
	padding-top: 50px;
}

.p-b-l {
	padding-bottom: 50px;
}