.navbar {
	background-color: @brand-dark;
	.dropdown-toggle {
		color: #fff;
	}
}

.btn-page-header {
	margin-left: 10px;
}

.btn-table-header {
	display: block;

}

/* Utilities */

.p-t-l {
	padding-top: 50px;
}

.p-b-l {
	padding-bottom: 50px;
}

/* color */

.panel-primary {
	border-color: #D5201B;
}

.panel-primary>.panel-heading {
	border-color: #D5201B;
	background-color: #D5201B;
}

a {
	color: #D5201B;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #D5201B;
	border-color: #D5201B;
}